body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
}
.data-container {
  display: flex;
  flex-direction: column;
}
.pokemon-data-container {
  display: flex;
  flex-direction: row;
}
.title {
  width: 200px;
  min-height: 100px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data {
  width: 200px;
  min-height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  position: absolute;
  z-index: 100;
  padding: 40px;
  background-color: pink;
}
